fastapi==0.115.3
uvicorn==0.32.0
sqlalchemy==2.0.36
asyncpg==0.30.0
pydantic==2.9.2
redis==5.1.1
alembic==1.13.3
pytest==8.3.3
httpx==0.27.2
python-dateutil
pydantic-settings
shortuuid==1.0.13
pytz
pytest==8.3.3
pytest-asyncio>=0.21.0
httpx>=0.24.0
aioredis

greenlet
SQLAlchemy-Utils
#psycopg2==2.9.10
#psycopg2-binary==2.9.10